@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
  
}

h1{
   font-family: "SF Distant Galaxy";
  color: yellow;
}
.link {
  display: flex;
  justify-content: space-around;
}

a{
  color: yellow;
  text-align: center;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: black;
}



h1 {
  font-family: "SF Distant Galaxy";
  color:yellow;
}



/* computer */
@media screen and (min-width: 600px){

  div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


}
